html {
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #f3f7f7;
}

.question {
    padding: 30px;
    margin: 50px;
    background-color: white;
}

@media(min-width:560px) {
    .question {
        margin: 50px 150px;
    }
}

.button-outer {
    margin: 10px 0px 0px auto;
}

.btn {
    background-color: #f3f7f7;
    padding: 10px 45px;
}

.active {
    border: 2px solid green;
}

p {
    margin-right: 25px;
}
.easy{
	color: green;
}
.medium{
	color: orange;
}
.hard{
	color: red;
}