body{
	background-color: #f3f7f7;
	font-family: 'Montserrat', sans-serif;
}
.header {
	width: 100%;  
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 5px;
    top: 0;
    padding-bottom: 5px;
    right: 1;
    left: 1;
    z-index: 999;
    background-color: #404040;
}
h2 {
	color: white;
    float: left;
    font-weight: 600;
    margin-top: 18px;
    font-size: 25px;
}
#top {
  	width: 190px;
  	line-height: 1px;
  	background: #404040;
  	float: right;
  	margin-right: 0px;
	color: transparent;
} 
#top li li, #top li li a { 
  width: 160px;
  height: 0px; 
  margin-top: -0px; 
  font-weight: 400;
  font-size: 16px;
  text-align: center; 
  background: transparent;
  color: transparent;
  text-decoration: none; 
  -webkit-transition:all .3s linear;
 } 

 #top li:hover li { 
   width: 140px;
  padding-top: 30px;
  padding-bottom: 30px; 
  margin-top:-10px; 
  margin-bottom: 0px;
  background: #404040;
  align-items: right;
} 

#top li li:first-of-type { 
  padding-top: 20px; 
	color: transparent;
} 

#top li:hover li a { 
  color: #f3f7f7; 
} 

#top li li a:hover { 
  color:#9c9c9c; 
} 
.cactive {
  font-weight:bolder;
  color: #f3f7f7;
}
li { 
    margin-top: 100px;
  list-style: none;
	color: transparent;
} 
.profile {
            display: inline-block;
            border-radius: 50%;
            margin: 10px;
            height: 45px;
            float: center;
            width: 45px;
            margin-right: 0px;
            margin-top: -5px;
            margin-left: 40px;
        } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
nav{
  display: inline-block;
  background-color: #404040;
  float: right;
  height: 30px;
  width: 45px;
  margin-right: 0%;
  margin-top: 15px;
  margin-left: 0%;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin-top: -25px;
  margin-bottom: -20px;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
        .box {
            display: inline-block;
            background-color: #f3f7f7;
			border-radius: 5px;
            color: #404040;
            margin: 20px;
            padding: 5px;
            margin-top: 17px;
            margin-right: 1%;
            margin-left: 6%;
            padding: 5px 35px;
            width: fit-content;
            height: fit-content;
            font-weight: 600;
            font-size: 16px;
            float: right;
        }
        .boxless {
            display: inline-block;
            background-color: #f3f7f7;
            border-radius: 5px;
			color: #404040;
            margin: 20px;
            padding: 5px;
            margin-top: 13px;
            margin-left: 0%;
            margin-right: 20px;
            padding: 2px 25px;
            width: fit-content;
            height: fit-content;
            font-weight: 600;
            font-size: 15 px;
            float: right;
        }
.bold{
	font-weight: 700;
}
.rbtnmore {
            background-color: #157878;
            color: #f3f7f7;
            padding: 5px;
            padding-left: 4%;
            padding-right: 4%;
            position: fixed;
            bottom: 30px;
            right: 5%;
            font-size: 19px;
            font-weight: bold;
            border-color: #404040;
			border-radius: 5px;
        }
        .rbtnmore:hover {
text-shadow: 0px 0px 6px rgb(64, 64, 64,0.5);
-webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(247, 247, 247, 0.57);
transition: all 0.4s ease 0s;
}
        .ficon {
            color: #f3f7f7;
        }
        .rbtnless {
            background-color: #157878;
            border-radius: 50%;
            margin: 10px;
            height: 50px;
            width: 50px;
            position: fixed;
            bottom: 15px;
            right: 1%;
            border-color: #404040;
        }
        .rbtnless:hover {
text-shadow: 0px 0px 6px rgb(64, 64, 64,0.5);
-webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(247, 247, 247, 0.57);
transition: all 0.4s ease 0s;
}
        .less {
    display:none;
}
.content{
	margin: 40px 40px 80px 80px;
	font-size: 22px;
	font-weight: 500 !important;
}
@media (max-width: 800px) {
  .header {
            width: 100%;  
            height: 60px;
                position: -webkit-sticky;
                position: sticky;
                padding-top: 5px;
                top: 0;
                padding-bottom: 5px;
                right: 1;
                left: 1;
                z-index: 999;
                background-color: #404040;
        }
  .ch2 {
            color: white;
            float: left;
            font-weight: 600;
            margin-top: 15px;
            font-size: 22px;
        }
    .less {
        display:block;
    }
    .more {
        display:none;
    }
    nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -120%;
    background: #404040;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 15px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 18px;
    
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: #353535;
    color: #f3f7f7;
    font-weight: 700;
    text-decoration: none;
  }
	.content{
		margin: 40px 40px 80px 40px;
		font-size: 18px;
	}
}
