:root {
    --primary: #157878;
    --secondary: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--primary);
}

@media(min-width:1024px) {
    .maincontainer1 {
        padding: 50px;
        color: var(--secondary);
        min-height: 100vh;
        background-image: url(images/Doodle\ round\ Dots.png);
        background-position: -137px calc(100vh - 137px);
        ;
        background-repeat: no-repeat;
    }
}
@media (max-width:1024px){
    .maincontainer1 {
        padding: 50px;
        color: var(--secondary);
        min-height: 100vh;
        background-image: url(images/Doodle\ round\ Dots.png);
        background-position: -137px calc(100vh - 137px);
        ;
        background-repeat: no-repeat;
    }
    .doodle{
        width:36rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
@media(max-width:559px) {
    body {
        background-image: url(images/Mobile\ Background.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-height: 100vh;
        overflow: hidden;
    }
    .doodle {
        display: none;
    }
    .maincontainer1 {
        text-align: center;
        padding: 50px;
        color: var(--secondary);
        min-height: 100vh;
        background-image: url(images/Doodle\ round\ Dots.png);
        background-position: -160px calc(100vh - 118px);
        background-repeat: no-repeat;
    }
}

.btn-primary {
    padding: 8px 35px;
    border-radius: 0px;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
    margin: 35px 0 0 0;
}

.logoContainer {
    margin: 0 0 25px 0;
}

h1 {
    margin: 30px 0;
    font-size: 50px;
}

.boldheading {
    color: var(--secondary);
    text-shadow: 1px 0 var(--secondary);
    letter-spacing: 5px;
    font-size: 70px;
    font-weight: bolder;
}

.caption {
    font-size: 20px;
}

@media(min-width:1230px) {
    .doodle {
        height: calc(100vh - 120px);
        position: absolute;
        z-index: -1;
        top: 100px;
        right: 50px;
    }
}